<%= form_with(model: di1, local: true) do |form| %>
  <% if di1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(di1.errors.count, "error") %> prohibited this di1 from being saved:</h2>

      <ul>
      <% di1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :s %>
    <%= form.text_area :s %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.text_area :c %>
  </div>

  <div class="field">
    <%= form.label :l %>
    <%= form.text_area :l %>
  </div>

  <div class="field">
    <%= form.label :sa %>
    <%= form.text_area :sa %>
  </div>

  <div class="field">
    <%= form.label :ca %>
    <%= form.text_area :ca %>
  </div>

  <div class="field">
    <%= form.label :la %>
    <%= form.text_area :la %>
  </div>

  <div class="field">
    <%= form.label :sb %>
    <%= form.text_area :sb %>
  </div>

  <div class="field">
    <%= form.label :cb %>
    <%= form.text_area :cb %>
  </div>

  <div class="field">
    <%= form.label :lb %>
    <%= form.text_area :lb %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
