

<h1>Editing Di1</h1>

<%= render 'form', di1: @di1 %>

<%= link_to 'Show', @di1 %> |
<%= link_to 'Back', di1s_path %>



<%= render 'form', di1: @di1 %>

<%= link_to 'Show', @di1 %> |
<%= link_to 'Back', di1s_path %>

<%= render 'form', di1: @di1 %>

<%= link_to 'Show', @di1 %> |
<%= link_to 'Back', di1s_path %>
