<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @di1.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @di1.c %>
</p>

<p>
  <strong>L:</strong>
  <%= @di1.l %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @di1.sa %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @di1.ca %>
</p>

<p>
  <strong>La:</strong>
  <%= @di1.la %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @di1.sb %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @di1.cb %>
</p>

<p>
  <strong>Lb:</strong>
  <%= @di1.lb %>
</p>

<%= link_to 'Edit', edit_di1_path(@di1) %> |
<%= link_to 'Back', di1s_path %>



<%= link_to 'Edit', edit_di1_path(@di1) %> |
<%= link_to 'Back', di1s_path %>


<%= link_to 'Edit', edit_di1_path(@di1) %> |
<%= link_to 'Back', di1s_path %>
