<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @d4.section_number %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @d4.crime %>
</p>

<p>
  <strong>Law:</strong>
  <%= @d4.law %>
</p>

<%= link_to 'Edit', edit_d4_path(@d4) %> |
<%= link_to 'Back', d4s_path %>
