


<p id="notice"><%= notice %></p>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<link href="/static/stylesheet/dashboard.css.scss"  rel='stylesheet' type="text/css">
<link href="/static/stylesheet/application.css.scss"  rel='stylesheet' type="text/css">

<body><style>




  .left{
    width: 200px;
    height: 45px;
    align-content:"center";
    align-items: "center";
    align-self: "center"
    
    
}


  .limiter {
    width: 1000px;
    height: 700px;
    margin: 0 auto;
  }


.table100:hover{
        box-shadow: 30 30px 30px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);

}


  
  
 


</style>
   <!-- <div class="wrapper">-->
        <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar.jpg">
<div class="logo">
<br>
                    <ul class="nav">
                    <li class="active">
                            <a href="/landingpage/index">
                               <i class="material-icons">house</i>
                            <h7>HOME</h7> 
                            </a>
                        </a>
                    </li>
                    
                    </br>



            </li>
        </ul></br>
               
</div>


            <div class="sidebar-wrapper">
                <ul class="nav">
                   <br> <li class="active">
                        <a href="/dashboard/index">
                            <i class="material-icons">library_books</i>
                            <h7>Laws</h7>

                        </a>
                    </li></br></ul>
                                    <ul class="nav">

                   <br> <li class="active">
                              <a href="/lawyers">
                              <i class="material-icons">dashboard</i>
                            <h7>Lawyers</h7>  
                            </a>
                        </a>
                    </li></br></ul>
                <ul class="nav">

                  <br>  <li class="active">
                            <a href="/profiles/new">
                               <i class="material-icons">person</i>
                            <h7>Profile</h7> 
                            </a>
                        </a>
                    </li>
                    </br>
          
                    

                </ul>
            </div>
        </div>

        <div class="main-panel">
            <!--<nav class="navbar navbar-transparent navbar-absolute">-->
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                       
                            <li>
                             
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>

                       <!-- <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>-->
                        </form>-
                    </div>
                </div>
            </nav>
            <div>


<div class="limiter">
                   
                    <div class="table100 ver3 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead>
                                    <tr class="row100 head">
                                        <th class="cell100 column1" align: "left">SHOW</th>
                                        
                                    </tr>
                                </thead>
                            </table>
                        </div><br><br>
<%= simple_form_for(@chapxxxi, ) do |form| %>

<p>
<div class="left">

  <strong>Section number:</strong>
  <label><%= @chapxxxi.section_number %></label>
</p>
</div>
<p><div class="left">

  <strong>Crime:</strong>
  <%= @chapxxxi.crime %>
</p></div>

<div class="center">

<p><div class="left">

  <strong>Law:</strong>
  <%= @chapxxxi.law %>
</p></div>

<p><div class="left">

<%= link_to 'Edit', edit_chapxxxi_path(@chapxxxi) %> |
<%= link_to 'Back', chapxxxis_path %>
</div>

<% end %>
