<%= form_with(model: di3, local: true) do |form| %>
  <% if di3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(di3.errors.count, "error") %> prohibited this di3 from being saved:</h2>

      <ul>
      <% di3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :s %>
    <%= form.text_area :s %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.text_area :c %>
  </div>

  <div class="field">
    <%= form.label :l %>
    <%= form.text_area :l %>
  </div>

  <div class="field">
    <%= form.label :sa %>
    <%= form.text_area :sa %>
  </div>

  <div class="field">
    <%= form.label :ca %>
    <%= form.text_area :ca %>
  </div>

  <div class="field">
    <%= form.label :la %>
    <%= form.text_area :la %>
  </div>

  <div class="field">
    <%= form.label :sb %>
    <%= form.text_area :sb %>
  </div>

  <div class="field">
    <%= form.label :cb %>
    <%= form.text_area :cb %>
  </div>

  <div class="field">
    <%= form.label :lb %>
    <%= form.text_area :lb %>
  </div>

  <div class="field">
    <%= form.label :sc %>
    <%= form.text_area :sc %>
  </div>

  <div class="field">
    <%= form.label :cc %>
    <%= form.text_area :cc %>
  </div>

  <div class="field">
    <%= form.label :lc %>
    <%= form.text_area :lc %>
  </div>

  <div class="field">
    <%= form.label :sd %>
    <%= form.text_area :sd %>
  </div>

  <div class="field">
    <%= form.label :cd %>
    <%= form.text_area :cd %>
  </div>

  <div class="field">
    <%= form.label :ld %>
    <%= form.text_area :ld %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
