<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @di3.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @di3.c %>
</p>

<p>
  <strong>L:</strong>
  <%= @di3.l %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @di3.sa %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @di3.ca %>
</p>

<p>
  <strong>La:</strong>
  <%= @di3.la %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @di3.sb %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @di3.cb %>
</p>

<p>
  <strong>Lb:</strong>
  <%= @di3.lb %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @di3.sc %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @di3.cc %>
</p>

<p>
  <strong>Lc:</strong>
  <%= @di3.lc %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @di3.sd %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @di3.cd %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @di3.ld %>
</p>

<%= link_to 'Edit', edit_di3_path(@di3) %> |
<%= link_to 'Back', di3s_path %>
