<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @di5.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @di5.c %>
</p>

<p>
  <strong>L:</strong>
  <%= @di5.l %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @di5.sa %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @di5.ca %>
</p>

<p>
  <strong>La:</strong>
  <%= @di5.la %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @di5.sb %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @di5.cb %>
</p>

<p>
  <strong>Lb:</strong>
  <%= @di5.lb %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @di5.sc %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @di5.cc %>
</p>

<p>
  <strong>Lc:</strong>
  <%= @di5.lc %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @di5.sd %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @di5.cd %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @di5.ld %>
</p>

<p>
  <strong>Sf:</strong>
  <%= @di5.sf %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @di5.cf %>
</p>

<p>
  <strong>Lf:</strong>
  <%= @di5.lf %>
</p>

<%= link_to 'Edit', edit_di5_path(@di5) %> |
<%= link_to 'Back', di5s_path %>
