<%= form_with(model: di7, local: true) do |form| %>
  <% if di7.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(di7.errors.count, "error") %> prohibited this di7 from being saved:</h2>

      <ul>
      <% di7.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :s %>
    <%= form.text_area :s %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.text_area :c %>
  </div>

  <div class="field">
    <%= form.label :l %>
    <%= form.text_area :l %>
  </div>

  <div class="field">
    <%= form.label :sa %>
    <%= form.text_area :sa %>
  </div>

  <div class="field">
    <%= form.label :ca %>
    <%= form.text_area :ca %>
  </div>

  <div class="field">
    <%= form.label :la %>
    <%= form.text_area :la %>
  </div>

  <div class="field">
    <%= form.label :sb %>
    <%= form.text_area :sb %>
  </div>

  <div class="field">
    <%= form.label :cb %>
    <%= form.text_area :cb %>
  </div>

  <div class="field">
    <%= form.label :lb %>
    <%= form.text_area :lb %>
  </div>

  <div class="field">
    <%= form.label :sc %>
    <%= form.text_area :sc %>
  </div>

  <div class="field">
    <%= form.label :cc %>
    <%= form.text_area :cc %>
  </div>

  <div class="field">
    <%= form.label :lc %>
    <%= form.text_area :lc %>
  </div>

  <div class="field">
    <%= form.label :sd %>
    <%= form.text_area :sd %>
  </div>

  <div class="field">
    <%= form.label :cd %>
    <%= form.text_area :cd %>
  </div>

  <div class="field">
    <%= form.label :ld %>
    <%= form.text_area :ld %>
  </div>

  <div class="field">
    <%= form.label :sf %>
    <%= form.text_area :sf %>
  </div>

  <div class="field">
    <%= form.label :cf %>
    <%= form.text_area :cf %>
  </div>

  <div class="field">
    <%= form.label :lf %>
    <%= form.text_area :lf %>
  </div>

  <div class="field">
    <%= form.label :sg %>
    <%= form.text_area :sg %>
  </div>

  <div class="field">
    <%= form.label :cg %>
    <%= form.text_area :cg %>
  </div>

  <div class="field">
    <%= form.label :lg %>
    <%= form.text_area :lg %>
  </div>

  <div class="field">
    <%= form.label :sh %>
    <%= form.text_area :sh %>
  </div>

  <div class="field">
    <%= form.label :ch %>
    <%= form.text_area :ch %>
  </div>

  <div class="field">
    <%= form.label :lh %>
    <%= form.text_area :lh %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
