<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @di7.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @di7.c %>
</p>

<p>
  <strong>L:</strong>
  <%= @di7.l %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @di7.sa %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @di7.ca %>
</p>

<p>
  <strong>La:</strong>
  <%= @di7.la %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @di7.sb %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @di7.cb %>
</p>

<p>
  <strong>Lb:</strong>
  <%= @di7.lb %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @di7.sc %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @di7.cc %>
</p>

<p>
  <strong>Lc:</strong>
  <%= @di7.lc %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @di7.sd %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @di7.cd %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @di7.ld %>
</p>

<p>
  <strong>Sf:</strong>
  <%= @di7.sf %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @di7.cf %>
</p>

<p>
  <strong>Lf:</strong>
  <%= @di7.lf %>
</p>

<p>
  <strong>Sg:</strong>
  <%= @di7.sg %>
</p>

<p>
  <strong>Cg:</strong>
  <%= @di7.cg %>
</p>

<p>
  <strong>Lg:</strong>
  <%= @di7.lg %>
</p>

<p>
  <strong>Sh:</strong>
  <%= @di7.sh %>
</p>

<p>
  <strong>Ch:</strong>
  <%= @di7.ch %>
</p>

<p>
  <strong>Lh:</strong>
  <%= @di7.lh %>
</p>

<%= link_to 'Edit', edit_di7_path(@di7) %> |
<%= link_to 'Back', di7s_path %>
