<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @d5.section_number %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @d5.crime %>
</p>

<p>
  <strong>Law:</strong>
  <%= @d5.law %>
</p>

<%= link_to 'Edit', edit_d5_path(@d5) %> |
<%= link_to 'Back', d5s_path %>
