<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @di2.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @di2.c %>
</p>

<p>
  <strong>L:</strong>
  <%= @di2.l %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @di2.sa %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @di2.ca %>
</p>

<p>
  <strong>La:</strong>
  <%= @di2.la %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @di2.sb %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @di2.cb %>
</p>

<p>
  <strong>Lb:</strong>
  <%= @di2.lb %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @di2.sc %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @di2.cc %>
</p>

<p>
  <strong>Lc:</strong>
  <%= @di2.lc %>
</p>

<%= link_to 'Edit', edit_di2_path(@di2) %> |
<%= link_to 'Back', di2s_path %>
