<%= form_with(model: di6, local: true) do |form| %>
  <% if di6.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(di6.errors.count, "error") %> prohibited this di6 from being saved:</h2>

      <ul>
      <% di6.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :s %>
    <%= form.text_area :s %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.text_area :c %>
  </div>

  <div class="field">
    <%= form.label :l %>
    <%= form.text_area :l %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
