<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @di6.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @di6.c %>
</p>

<p>
  <strong>L:</strong>
  <%= @di6.l %>
</p>

<%= link_to 'Edit', edit_di6_path(@di6) %> |
<%= link_to 'Back', di6s_path %>
