<p id="notice"><%= notice %></p>


h1>New D5</h1>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<body>


        <div class="sidebar" data-color="red" data-image="../assets/img/sidebar.jpg">
<div class="logo">
                    <ul class="nav">
                  <li class="active">


                <a href="/landingpage/index" class="simple-text">
                    Home
                </a>



            </li>
        </ul>
               
</div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                    <a href="/dashboard/index">
                    <i class="material-icons">library_books</i>
                            <p>Laws</p>

                        </a>
                    </li>
                    
                    <li class="active">
                              <a href="/lawyers">
                              <i class="material-icons">dashboard</i>
                            <p>Lawyers</p>  
                            </a>
                        </a>
                    </li>

                    <li class="active">
                            <a href="/profiles/new">
                               <i class="material-icons">person</i>
                            <p>Profile</p> 
                            </a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

       
        <div class="main-panel">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                       
                            <li>
                             
                                    <p class="hidden-lg hidden-md">Dashboard</p>
                                </a>
                            </li>


<h1>D2s</h1>

<table>
  <thead>
    <tr>
      <th>Section number</th>
      <th>Crime</th>
      <th>Law</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @d2s.each do |d2| %>
      <tr>
        <td><%= d2.section_number %></td>
        <td><%= d2.crime %></td>
        <td><%= d2.law %></td>
        <td><%= link_to 'Show', d2 %></td>
        <td><%= link_to 'Edit', edit_d2_path(d2) %></td>
        <td><%= link_to 'Destroy', d2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New D2', new_d2_path %>

                       <!-- <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>-->
                        </form>-
                    </div>
                </div>
            </nav>
            <div>

