<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @d2.section_number %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @d2.crime %>
</p>

<p>
  <strong>Law:</strong>
  <%= @d2.law %>
</p>

<%= link_to 'Edit', edit_d2_path(@d2) %> |
<%= link_to 'Back', d2s_path %>
