<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @d6.section_number %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @d6.crime %>
</p>

<p>
  <strong>Law:</strong>
  <%= @d6.law %>
</p>

<%= link_to 'Edit', edit_d6_path(@d6) %> |
<%= link_to 'Back', d6s_path %>
