<p id="notice"><%= notice %></p>

<p>
  <strong>S:</strong>
  <%= @di4.s %>
</p>

<p>
  <strong>C:</strong>
  <%= @di4.c %>
</p>

<p>
  <strong>L:</strong>
  <%= @di4.l %>
</p>

<p>
  <strong>Sa:</strong>
  <%= @di4.sa %>
</p>

<p>
  <strong>Ca:</strong>
  <%= @di4.ca %>
</p>

<p>
  <strong>La:</strong>
  <%= @di4.la %>
</p>

<p>
  <strong>Sb:</strong>
  <%= @di4.sb %>
</p>

<p>
  <strong>Cb:</strong>
  <%= @di4.cb %>
</p>

<p>
  <strong>Lb:</strong>
  <%= @di4.lb %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @di4.sc %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @di4.cc %>
</p>

<p>
  <strong>Lc:</strong>
  <%= @di4.lc %>
</p>

<p>
  <strong>Sd:</strong>
  <%= @di4.sd %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @di4.cd %>
</p>

<p>
  <strong>Ld:</strong>
  <%= @di4.ld %>
</p>

<p>
  <strong>Sf:</strong>
  <%= @di4.sf %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @di4.cf %>
</p>

<p>
  <strong>Lf:</strong>
  <%= @di4.lf %>
</p>

<%= link_to 'Edit', edit_di4_path(@di4) %> |
<%= link_to 'Back', di4s_path %>
