<p id="notice"><%= notice %></p>


<h1>New D5</h1>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>


        <div class="sidebar" data-color="red" data-image="../assets/img/sidebar.jpg">
<div class="logo">
                    <ul class="nav">
                  <li class="active">


                <a href="/landingpage/index" class="simple-text">
                    Home
                </a>



            </li>
        </ul>
               
</div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="active">
                    <a href="/dashboard/index">
                    <i class="material-icons">library_books</i>
                            <p>Laws</p>

                        </a>
                    </li>
                    
                    <li class="active">
                              <a href="/lawyers">
                              <i class="material-icons">dashboard</i>
                            <p>Lawyers</p>  
                            </a>
                        </a>
                    </li>

                    <li class="active">
                            <a href="/profiles/new">
                               <i class="material-icons">person</i>
                            <p>Profile</p> 
                            </a>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

       
        <div class="main-panel">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                       
<h1>D1s</h1>
<style>

</style>
<div id= "scroll">
<table class="blueTable">
<div class="scrollingtable">

<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a>
<thead>
    <tr>
      <th>Section_number</th>
      <th>Crime</th>
      <th>Law</th>
      <!--<th colspan="3"></th>-->
    </tr>
    
  </thead>

  <tbody>
    <% @d1s.each do |d1| %>
      <tr>
        <td><%= d1.section_number %></td>
        <td><%= d1.crime %></td>
        <td><%= d1.law %></td>
       <!-- <td><%= link_to 'Show', d1 %></td>
        <td><%= link_to 'Edit', edit_d1_path(d1) %></td>
        <td><%= link_to 'Destroy', d1, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>

    <% end %>
  </tbody>
  </div>
</table>


<div id= "scroll">
<table class="blueTable">
<div class="scrollingtable">

<div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a>
<thead>
    <tr>
      <th>Section_number</th>
      <th>Crime</th>
      <th>Law</th>
      <!--<th colspan="3"></th>-->
    </tr>
    
  </thead>

  <tbody>
    <% @d1s.each do |d1| %>
      <tr>
        <td><%= d1.section_number %></td>
        <td><%= d1.crime %></td>
        <td><%= d1.law %></td>
       <!-- <td><%= link_to 'Show', d1 %></td>
        <td><%= link_to 'Edit', edit_d1_path(d1) %></td>
        <td><%= link_to 'Destroy', d1, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>

    <% end %>
  </tbody>
  </div>
</table>




<br>

<%= link_to 'New D1', new_d1_path %>


                       <!-- <form class="navbar-form navbar-right" role="search">
                            <div class="form-group  is-empty">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="material-input"></span>
                            </div>
                            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>-->
                        </form>-
                    </div>
                </div>
            </nav>
            <div>

</body>