<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @d1.section_number %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @d1.crime %>
</p>

<p>
  <strong>Law:</strong>
  <%= @d1.law %>
</p>

<%= link_to 'Edit', edit_d1_path(@d1) %> |
<%= link_to 'Back', d1s_path %>
