<p id="notice"><%= notice %></p>

<p>
  <strong>Section number:</strong>
  <%= @d7.section_number %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @d7.crime %>
</p>

<p>
  <strong>Law:</strong>
  <%= @d7.law %>
</p>

<%= link_to 'Edit', edit_d7_path(@d7) %> |
<%= link_to 'Back', d7s_path %>
